@{
    ViewData["Title"] = "Home Page";
}

<body onload="checkPWA()">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>

<script>
    function checkPWA() {
        if (window.matchMedia('(display-mode: standalone)').matches) {
            console.log("This is running as standalone.");
        }
    }
</script>