@{
    ViewData["Title"] = "Home Page";
}
<body onload="checkPWA()">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <p>Display Mode: <span id="displayMode"></span></p>
    </div>
</body>
<script>
    function checkPWA() {

        var span = document.getElementById("displayMode");

        if (window.matchMedia('(display-mode: standalone)').matches) {
            span.innerHTML = "standalone";
        } else if (window.matchMedia('(display-mode: fullscreen)').matches) {
            span.innerHTML = "fullscreen";
        }
        else if (window.matchMedia('(display-mode: minimal-ui)').matches) {
            span.innerHTML = "minimal-ui";
        }
        else if (window.matchMedia('(display-mode: browser)').matches) {
            span.innerHTML = "browser";
        }
    }
</script>