@{
    ViewData["Title"] = "Cont nou";
}
<div id="page">

    <div id="menu-main" data-menu-load="/menu-main.html" class="menu menu-box-left" data-menu-active="nav-pages" data-menu-effect="menu-reveal" data-menu-width="300"></div>
    <div id="menu-highlight" data-menu-load="/menu-highlights.html" class="menu menu-box-bottom" data-menu-height="390">    </div>
    <div id="menu-contact" data-menu-load="/menu-contact.html" class="menu menu-box-right" data-menu-effect="menu-reveal" data-menu-width="300"></div>

    <div class="page-content">

        <div class="card bg-19" data-card-height="cover">
            <div class="card-top pt-3 pl-3">
                <a href="#" data-back-button class="font-14 color-white"><i class="fa fa-arrow-left pr-2"></i>Înapoi</a>
            </div>
            <div class="card-center">
                <div class="mx-4">
                    <h1 class="font-800 mb-n1 color-white font-29">Cont nou</h1>
                    <p class="color-highlight font-11">E 100% gratuit!</p>

                    <div class="input-style has-icon input-light input-style-1 input-required pb-1">
                        <i class="input-icon fa fa-user color-white"></i>
                        <span>Nume utilizator</span>
                        <em>(required)</em>
                        <input type="name" placeholder="Nume utilizator">
                    </div>
                    <div class="input-style has-icon input-light input-style-1 input-required pb-1">
                        <i class="input-icon fa fa-envelope color-white"></i>
                        <span>Email</span>
                        <em>(required)</em>
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="input-style has-icon input-light input-style-1 input-required pb-1">
                        <i class="input-icon fa fa-lock color-white"></i>
                        <span>Parolă</span>
                        <em>(required)</em>
                        <input type="name" placeholder="Parola">
                    </div>
                    <div class="input-style has-icon input-light input-style-1 input-required pb-1">
                        <i class="input-icon fa fa-lock color-white"></i>
                        <span>Confirmă parola</span>
                        <em>(required)</em>
                        <input type="name" placeholder="Confirmă parola">
                    </div>

                    <div class="ml-n1 mt-3 mb-4">
                        <div class="form-check icon-check">
                            <input class="form-check-input" type="checkbox" value="" id="check1" checked>
                            <label class="form-check-label" for="check1">Termeni și condiții</label>
                            <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                            <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                        </div>
                    </div>

                    <a href="#" class="btn btn-m mt-2 mb-4 btn-full bg-green-dark text-uppercase">Creează cont</a>

                    <div class="divider mb-3"></div>

                    <div class="d-flex">
                        <div class="w-50 font-11 color-theme opacity-60 text-left"><a href="#" class="color-white">Ai deja cont? Autentifică-te!</a></div>
                    </div>
                </div>
            </div>
            <div class="card-overlay bg-black opacity-90"></div>
        </div>
    </div>
    <!-- Page content ends here-->
</div>